body {
    padding-top:50px;
}


h1{
   text-align: center; 
   font-size: 40px;
   font-family: 'Lora', serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Noto Serif JP', serif
}

ul {
    text-align: center;
    margin-bottom:50px;
}


li {
   display: inline-block; flex; 
   margin-right: 40px;
font-family: 'M PLUS Rounded 1c', sans-serif;
 font-size: 16px;
}

 img{
    width:600px;
    margin-right:auto;
    margin-left:auto;
}


 h2{
    text-align: center;
}